<!DOCTYPE html> {% load static %}
<html lang="en">


{% include "crackCaptcha/nav.html" with active_tab='crack' %}

<body>
    <!-- Page Content -->
    <div class="container">
        <div class="card" style="background-color: #25252b; width: 100%; height: 100%; padding: 50px; border-radius: 10px;">

            {% if not captcha_text %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %} {{ form.as_p }} {% if not img_url %}
                <input type="submit" class="btn btn-primary" name="UploadCaptcha" value="Upload Captcha Image" /> {% endif %}
            </form>
            {% endif %} {% if img_url %}
            <br><label>Captcha Type: </label>
            <h6>{{ captcha_type }}</h6><br> {% endif %}{% if captcha_text %}
            <table class="table table-hover table-dark  w-50">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" class="limit">Captcha Image</th>
                        <th scope=" col ">Cracked Value</th>
                    </tr>
                    <tbody>
                        {% for i, url, text in map %}
                        <tr>
                            <th scope="row ">{{ i }}</th>
                            <td class="limit"><img src="/media/images/{{ url }}" style="max-width:40% !important; height:auto; " alt="Captcha image"></td>
                            <td>{{ text }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </thead>
            </table>
            {% endif %} {% if img_url %}
            <form method="post" action="/crackCaptcha/crackImage/">
                {% csrf_token %}
                <!-- <input type="hidden" value="{{ img_url }}" name="imgUrl"> -->
                <input type="hidden" value="{{ captcha_type }}" name="captchaType">
                <button type="submit" class="btn btn-primary" name="CrackCaptcha">Crack Captcha</button> <br>
            </form>
            {% endif %}
        </div>
    </div>
    <!-- /.container -->




    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>