<!DOCTYPE html> {% load static %}
<html lang="en">


{% include "crackCaptcha/nav.html" with active_tab='crack' %}

<body>
    <!-- Page Content -->
    <div class="container">
        <div class="card" style="background-color: #25252b; width: 100%; height: 100%; padding: 50px; border-radius: 10px;">

            {% if not captcha_text %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %} {{ form.as_p }} {% if not img_url %}
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-sm-4">

                        <label>
                        <input type="radio" name="options" value="Unknown" class="card-input-element" checked/>
              
                        <div class="card card-input" style="width: 18rem;">
                            <div class="card-body">
                              <p class="card-text">Unknown Captcha Type</p>
                            </div>
                          </div>
              
                      </label>

                    </div>
                </div>
                <div class="row">

                    <div class="col-md-4 col-lg-4 col-sm-4">

                        <label>
                        <input type="radio" name="options" value="WaterRipple" class="card-input-element" />
              
                        <div class="card card-input" style="width: 18rem;">
                            <img class="card-img-top" src="/media/types/w1.png" alt="Card image cap">
                            <div class="card-body">
                              <p class="card-text">
                                  WaterRipple
                                  <ul><li>Five characters of same size</li>
                                  <li>Background is Gray/ White</li>
                                  <li>Foreground is Black</li>
                                  <li>Interference line traverses all characters</li></ul>
                                </p>
                            </div>
                          </div>
              
                      </label>

                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-4">

                        <label>
                        <input type="radio" name="options" value="Sina" class="card-input-element" />
              
                        <div class="card card-input" style="width: 18rem;">
                            <img class="card-img-top" src="/media/types/sina1.png" height="72" alt="Card image cap">
                            <div class="card-body">
                              <p class="card-text">
                                Sina
                                <ul><li>Five characters</li>
                                <li>Characters are connected</li>
                                <li>White Bg, Red/Blue Fg</li>
                                <li>Interference line traverses all characters</li></ul>
                              </p>
                            </div>
                          </div>
                      </label>

                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-4">

                        <label>
                        <input type="radio"  name="options" value="Shadow" class="card-input-element" />
              
                        <div class="card card-input" style="width: 18rem;">
                            <img class="card-img-top" src="/media/types/shadow1.png"  alt="Card image cap">
                            <div class="card-body">
                              <p class="card-text">Shadow 
                                <ul><li>Five characters</li>
                                    <li>Grey/White bg with Shadow</li>
                                    <li>Foreground is black</li>
                                    <li>Interference line traverses all characters</li></ul>
                              </p>
                            </div>
                          </div>
                      </label>

                    </div>
                </div>
                <div class="row">

                    <div class="col-md-4 col-lg-4 col-sm-4">

                        <label>
                        <input type="radio" name="options" value="FishEye" class="card-input-element" />
              
                        <div class="card card-input" style="width: 18rem;">
                            <img class="card-img-top" src="/media/types/fisheye1.png" alt="Card image cap">
                            <div class="card-body">
                              <p class="card-text">FishEye
                                <ul><li>Five characters</li>
                                    <li>Grey/White bg with Nets</li>
                                    <li>Foreground is black</li>
                                    <li>One char is warped like fisheye view</li></ul>
                              </p>
                            </div>
                          </div>
              
                      </label>

                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-4">

                        <label>
                        <input type="radio" name="options" value="Mathematical" class="card-input-element" />
              
                        <div class="card card-input" style="width: 18rem;">
                            <img class="card-img-top" src="/media/types/math1.png" height="72" alt="Card image cap">
                            <div class="card-body">
                              <p class="card-text">Mathematical
                                <ul><li>5 chars: digits and operands</li>
                                    <li>Noisy Background</li>
                                    <li>Color is green/blue/red</li>
                                    <li>Interference line traverses all characters</li></ul>
                              </p>
                            </div>
                          </div>
                      </label>

                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-4">

                        <label>
                        <input type="radio"  name="options" value="WheezyMath" class="card-input-element" />
              
                        <div class="card card-input" style="width: 18rem;">
                            <img class="card-img-top" src="/media/types/wheezy1.png"  height="72" alt="Card image cap">
                            <div class="card-body">
                              <p class="card-text">WheezyMath
                                <ul><li>5 chars: digits and operands</li>
                                    <li>Noisy Bg, tilted chars</li>
                                    <li>Color is green/blue/red</li>
                                    <li>Interference line traverses all characters</li></ul>
                              </p>
                            </div>
                          </div>
                      </label>

                    </div>
                </div>
                <input type="submit" class="btn btn-primary" name="UploadCaptcha" value="Upload Captcha Image" /> {% endif %}
            </form>
            {% endif %} {% if img_url %}
            <br><label>Captcha Type: <b>{{ captcha_type }}</b></label> {% if captcha_text %}
            <br><label>Time to Crack: <b>{{ timeToCrack }} seconds</b></label> {% endif %}
            <br>{% if not captcha_text %}{% for url in img_url %}
            <img src="/media/images/{{ url }}" style="max-width:40% !important; height:auto; " alt="Captcha image"><br> {% endfor %} {% endif %}{% endif %}{% if captcha_text %}
            <table class="table table-hover table-dark  w-75">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" class="limit">Captcha Image</th>
                        <th scope=" col ">Cracked Value</th>
                        {% if math %}
                        <th scope=" col ">Solved Value</th>
                        {% endif %} {% if type_list %}
                        <th scope=" col ">Captcha Type</th>
                        {% endif %}
                    </tr>
                    <tbody>
                        {% if math %} {% for i, url, text, solved_val in map %}
                        <tr>
                            <th scope="row ">{{ i }}</th>
                            <td class="limit"><img src="/media/images/{{ url }}" style="max-width:40% !important; height:auto; " alt="Captcha image"></td>
                            <td>{{ text }}</td>
                            <th scope=" col ">{{ solved_val }}</th>
                        </tr>
                        {% endfor %} {% endif %} {% if not math %} {% if not type_list %}{% for i, url, text in map %}
                        <tr>
                            <th scope="row ">{{ i }}</th>
                            <td class="limit"><img src="/media/images/{{ url }}" style="max-width:40% !important; height:auto; " alt="Captcha image"></td>
                            <td>{{ text }}</td>
                        </tr>
                        {% endfor %} {% endif %} {% endif %} {% if not math %} {% if type_list %}{% for i, url, text, type in map %}
                        <tr>
                            <th scope="row ">{{ i }}</th>
                            <td class="limit"><img src="/media/images/{{ url }}" style="max-width:40% !important; height:auto; " alt="Captcha image"></td>
                            <td>{{ text }}</td>
                            <td>{{ type }}</td>
                        </tr>
                        {% endfor %} {% endif %} {% endif %}

                    </tbody>
                </thead>
            </table>
            {% endif %} {% if img_url %}
            <form method="post" action="/crackCaptcha/crackImage/">
                {% csrf_token %}
                <!-- <input type="hidden" value="{{ img_url }}" name="imgUrl"> -->
                <input type="hidden" value="{{ captcha_type }}" name="captchaType"> {% if not captcha_text %}
                <button type="submit" class="btn btn-primary" name="CrackCaptcha">Crack Captcha</button> <br>{% endif %}
            </form>
            {% endif %}
        </div>
    </div>
    <!-- /.container -->




    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>