<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<meta name="description" content="" />
		<meta name="author" content="" />

		<title>CryptoHaze</title>

		<!-- Bootstrap core CSS -->
		<link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

		<!-- Custom styles for this template -->
		<link href="static/css/style.css" rel="stylesheet" />
	</head>

	<script>
		function saveTextAsFile(textToWrite, fileNameToSaveAs) {
			var textFileAsBlob = new Blob([textToWrite], {
				type: "text/plain",
			});
			var downloadLink = document.createElement("a");
			downloadLink.download = fileNameToSaveAs;
			downloadLink.innerHTML = "Download File";
			if (window.webkitURL != null) {
				downloadLink.href = window.webkitURL.createObjectURL(
					textFileAsBlob
				);
			} else {
				downloadLink.href = window.URL.createObjectURL(textFileAsBlob);
				downloadLink.onclick = destroyClickedElement;
				downloadLink.style.display = "none";
				document.body.appendChild(downloadLink);
			}

			downloadLink.click();
		}
	</script>

	<body>
		<!-- Navigation -->
		<nav
			class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
			style="background: #25252b !important"
		>
			<div class="container">
				<a class="navbar-brand" href="/"
					><img
						class="icon"
						src="static/icons/lock.svg"
					/>&nbsp;CryptoHaze</a
				>
				<button
					class="navbar-toggler"
					type="button"
					data-toggle="collapse"
					data-target="#navbarResponsive"
					aria-controls="navbarResponsive"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active">
							<a class="nav-link" href="/"
								>Home
								<span class="sr-only">(current)</span>
							</a>
						</li>
						{% if not logged_in %}
						<li class="nav-item">
							<a class="nav-link" href="/register">Register</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/login">Login</a>
						</li>
						{% else %}
						<li class="nav-item">
							<a class="nav-link" href="/logout">Logout</a>
						</li>
						<li class="nav-item" style="margin-left: 30px">
							<span class="navbar-text text-white">
								{{ username }}
							</span>
						</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>

		<!-- Page Content -->
		<div class="container">
			<br /><br />
			<div
				class="card"
				style="
					background-color: #25252b;
					width: 100%;
					height: 100%;
					padding: 50px;
					border-radius: 10px;
				"
			>
				<form
					action="/encrypt"
					method="POST"
					enctype="multipart/form-data"
				>
					<div class="form-group">
						<label for="hashfile">Choose a file to encrypt:</label>
						<input
							name="file"
							type="file"
							accept=".txt"
							class="form-control-file"
							id="file"
						/>
						<!-- <br><label for="options ">Select a wordlist:</label><br> -->
					</div>
					<br />
					<button type="submit " class="btn btn-primary">
						Encrypt File
					</button>
				</form>
				<br /><br />
				{% if (download != "") %}
				<h6>Time to encrypt: {{ time }} seconds</h6>
				<button
					class="btn btn-primary w-25"
					onclick="saveTextAsFile(t.value, 'crack.txt') "
				>
					Download
				</button>
				<br /><br />
				<table class="table table-hover table-dark">
					<thead>
						<tr>
							<th scope="col ">#</th>
							<th scope="col ">Word</th>
							<th scope="col ">Type</th>
							<th scope="col " class="limit">Hash</th>
						</tr>
					</thead>
					<tbody>
						{% for word,hash_dict in dict.items() %}{% set count =
						loop.index %} {% for val,type in hash_dict.items() %}
						<tr>
							{% if loop.index == 1 %}
							<th scope="row ">{{ count }}</th>
							<td>{{ word }}</td>
							{% else %}
							<th scope="row "></th>
							<td></td>
							{% endif %}

							<td>{{ type }}</td>
							<td class="limit">{{ val }}</td>
						</tr>
						{% endfor %} {% endfor %}
					</tbody>
				</table>
			</div>
			<div class="form-group">
				<textarea
					style="visibility: hidden"
					class="form-control"
					id="t"
					name="t"
				>
{{ download }}</textarea
				>
			</div>
			{% endif %}
		</div>
		<!-- /.container -->

		<!-- Bootstrap core JavaScript -->
		<script src="static/jquery/jquery.min.js "></script>
		<script src="static/bootstrap/js/bootstrap.bundle.min.js "></script>
	</body>
</html>
