<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<meta name="description" content="" />
		<meta name="author" content="" />

		<title>CryptoHaze</title>

		<!-- Bootstrap core CSS -->
		<link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

		<!-- Custom styles for this template -->
		<link href="static/css/style.css" rel="stylesheet" />
	</head>

	<script>
		function saveTextAsFile(textToWrite, fileNameToSaveAs) {
			var textFileAsBlob = new Blob([textToWrite], {
				type: "text/plain",
			});
			var downloadLink = document.createElement("a");
			downloadLink.download = fileNameToSaveAs;
			downloadLink.innerHTML = "Download File";
			if (window.webkitURL != null) {
				// Chrome allows the link to be clicked
				// without actually adding it to the DOM.
				downloadLink.href = window.webkitURL.createObjectURL(
					textFileAsBlob
				);
			} else {
				// Firefox requires the link to be added to the DOM
				// before it can be clicked.
				downloadLink.href = window.URL.createObjectURL(textFileAsBlob);
				downloadLink.onclick = destroyClickedElement;
				downloadLink.style.display = "none";
				document.body.appendChild(downloadLink);
			}

			downloadLink.click();
		}
	</script>

	<body>
		<!-- Navigation -->
		<nav
			class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
			style="background: #25252b !important"
		>
			<div class="container">
				<a class="navbar-brand" href="/"
					><img
						class="icon"
						src="static/icons/lock.svg"
					/>&nbsp;CryptoHaze</a
				>
				<button
					class="navbar-toggler"
					type="button"
					data-toggle="collapse"
					data-target="#navbarResponsive"
					aria-controls="navbarResponsive"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active">
							<a class="nav-link" href="/"
								>Home
								<span class="sr-only">(current)</span>
							</a>
						</li>
						{% if not logged_in %}
						<li class="nav-item">
							<a class="nav-link" href="/register">Register</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/login">Login</a>
						</li>
						{% else %}
						<li class="nav-item">
							<a class="nav-link" href="/logout">Logout</a>
						</li>
						<li class="nav-item" style="margin-left: 30px">
							<span class="navbar-text text-white">
								{{ username }}
							</span>
						</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>

		<!-- Page Content -->
		<div class="container">
			<br /><br />
			<form
				action="/passwordstrength"
				method="POST"
				enctype="multipart/form-data"
			>
				<div class="form-group">
					<label for="hashvalue">Enter Password</label>
					<input
						name="password"
						type="text"
						class="form-control"
						id="password"
						placeholder="Password"
					/>
				</div>
				<!-- <select>
					<option>Use default wordlist</option>
					<option>Use custom wordlist</option>
				</select> -->
				<br />
				<button type="submit " class="btn btn-primary">
					Find Strength
				</button>
			</form>
			<br /><br />
			{% if ans %}
			<h4>Analysis Results</h4>
			<table class="table table-hover table-dark">
				<tr>
					<td>Password Chosen for Analysis</td>
					<td>{{ password }}</td>
				</tr>
				<tr>
					<td>Score</td>
					<td>{{ score }}</td>
				</tr>
				<tr>
					<td>Password Strength</td>
					<td>{{ readable_score }}</td>
				</tr>
			</table>
			<br />
			<h4>Detailed Analysis</h4>
			<table class="table table-hover table-dark">
				<thead>
					<tr>
						<th scope="col">Parameter</th>
						<th scope="col">Count</th>
						<th scope="col">Value</th>
					</tr>
				</thead>
				<tbody>
					{% for row in ans %}
					<tr>
						{% for column in row %}
						<td>{{ column }}</td>
						{% endfor %}
					</tr>
					{% endfor %}
					<tr>
						<td>Total</td>
						<td>-</td>
						<td>{{ score }}</td>
					</tr>
				</tbody>
			</table>

			{% endif %}
		</div>
		<!-- /.container -->

		<!-- Bootstrap core JavaScript -->
		<script src="static/jquery/jquery.min.js "></script>
		<script src="static/bootstrap/js/bootstrap.bundle.min.js "></script>
	</body>
</html>
